    <footer class="footer_area section_padding_130_0" style="
  background: #f8f9fa;padding-bottom: 25px;
">
        <div class="container">
            <div class="row">
                <!-- Single Widget-->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer-widget section_padding_0_130">
                        <!-- Footer Logo-->
                        <div class="footer-logo mb-3"></div>
                        <p class="wow animate__animated animate__fadeInUp">Explore Further: Discover More Ways to
                            Elevate Your Cognitive Health.</p>
                        <!-- Footer Social Area-->                  


                        <div class="footer_social_area wow animate__animated animate__fadeInUp">
                            <a href="https://www.facebook.com/sharer.php?u=https://www.thinksharp.in/" target="_blank"
                            data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                            <i class="fa-brands fa-facebook"></i></a>
                          <a href="https://api.whatsapp.com/send?phone=&text=🧠 Unlock your brain's full potential with ThinkSharp! Train your mind, enhance cognitive skills, and experience a world of learning and fun. From memory games to puzzles and meditation, discover endless ways to boost your mental agility. Grind your Mind, Train your Brain. Join the ThinkSharp community today!  https://www.thinksharp.in/" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Whatsapp">
                            <i class="fa-brands fa-whatsapp"></i></a>
                          <a href="http://twitter.com/share?text=🧠 Unlock your brain's potential with ThinkSharp! Train your mind, enhance skills, and experience learning and fun. From games to puzzles and meditation, boost mental agility. Grind your Mind, Train your Brain. Join the ThinkSharp community today! &url=https://www.thinksharp.in/&hashtags=#PHP" target="_blank"
                          data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                          <i class="fa-brands fa-x-twitter"></i></a>
                        </div>
                        <div class="footer_social_area wow animate__animated animate__fadeInUp">
                          <img style="width: 80px; margin-right: 6px;" src="/images/makeinindia.png" alt="">
                          <img style="width: 100px; margin-right: 6px;" src="/images/digitalindia.png" alt="">
                          <img style="width: 80px; margin-right: 6px;" src="/images/startupindia.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- Single Widget-->
                <div class="col-12 col-sm-6 col-lg">
                    <div class="single-footer-widget section_padding_0_130">
                        <!-- Widget Title-->
                        <h5 class="widget-title mb-4 wow animate__animated animate__fadeInUp" style="
            margin-top: 15px;
        ">About</h5>
                        <!-- Footer Menu-->
                        <div class="footer_menu">
                            <ul style="list-style: none;" class="px-0">
                                <li class="wow animate__animated animate__fadeInUp"><a href="/aboutus">About Us</a></li>
                                <li class="wow animate__animated animate__fadeInUp"><a href="/missionAndVision">Mission &amp; Vision</a>
                                </li>
                                <li class="wow animate__animated animate__fadeInUp"><a href="/privacyPolicy">Privacy Policy</a>
                                </li>
                                <li class="wow animate__animated animate__fadeInUp"><a href="/science">Science</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Widget-->
                <div class="col-12 col-sm-6 col-lg">
                    <div class="single-footer-widget section_padding_0_130">
                        <!-- Widget Title-->
                        <h5 class="widget-title mb-4 wow animate__animated animate__fadeInUp" style="
            margin-top: 15px ;
        ">Support</h5>
                        <!-- Footer Menu-->
                        <div class="footer_menu">
                            <ul style="list-style: none;" class="px-0">

                                <li class="wow animate__animated animate__fadeInUp"><a href="/termsOfService">Terms of
                                        Service</a></li>
                                <li class="wow animate__animated animate__fadeInUp"><a href="/support">Help &amp; Support</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Widget-->
                <div class="col-12 col-sm-6 col-lg">
                    <div class="single-footer-widget section_padding_0_130">
                        <!-- Widget Title-->
                        <h5 class="widget-title mb-4 wow animate__animated animate__fadeInUp" style="
            margin-top: 15px;
        ">Contact</h5>
                        <!-- Footer Menu-->
                        <div class="footer_menu">
                            <ul style="list-style: none;" class="px-0">

                                <li class="wow animate__animated animate__fadeInUp"><a href="/contact-us">Contact Us</a></li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>