<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
    <%- include('partials/headlinks.ejs') %>
</head>

<body>
    <%- include('partials/navbar.ejs') %>
    


    <!-- ----------------------------------------------------------------------------------category section---------------------------------------------------- -->

    <h1 class="text-center mb-3 mt-3">Upcoming Surprises🥳</h1>

    <section class="container mt-2 ">
        <div class="row d-flex align-items-center flex-sm-row flex-column">
            <div class="col-sm-6 col-12 text-center text-sm-start left-text wow animate__animated animate__fadeInLeft ">

                <h3 class=" mb-3" style="color: #ea9247;font-size: medium;">New Category In Practice & Excel</h3>
                <h1 class=" ">"Ancient Wisdom"</h1>
                <!-- <p>Start your journey</p> -->
                <p class="para1 wow animate__animated animate__fadeInLeft">
                    <bold>Welcome to Ancient Wisdom!</bold> Dive into the rich tapestry of Indian
                    mythological stories that have captivated hearts and minds for centuries. In this section, we bring
                    you a curated collection of timeless tales that offer profound insights, moral lessons, and a
                    glimpse into the cultural heritage of India.
                </p>
                <!-- <button type="button" class="btn btn-primary btnstrt wow animate__animated animate__fadeInLeft">Start
              Learning</button> -->
            </div>
            <div class="col-sm-6 col-12 text-center right-image wow animate__animated animate__fadeInRight">
                <img src="/comingsoon/ancient.png" width="85%" alt="">
            </div>
        </div>
    </section>

    <!-- ------------------------------------------------------------------------------------- -->


    <!--------------------------------------------------------category starts-->
    <section class="container mt-2">
        <h1 class="text-center my-5 cathead wow animate__animated animate__fadeInUp">Explore Three Sub-Categories:</h1>
        <div class="row">
            <div class="col-md-4 col-sm-6 text-center mb-3 mx-auto crd1 wow animate__animated animate__fadeInUp">
                <div class="card shadow p-3" style="width: 100%;height: 100%; border: none">
                    <img src="/comingsoon/Yaksha-Prashna1.jpeg"
                        class="card-img-top mx-auto img1 wow wow wow wow animate__animated animate__fadeInUp"
                        style="width: 80%" alt="...">
                    <div class="card-body">
                        <h5 class="card-title crdh1 wow wow wow animate__animated animate__fadeInUp">Yaksha Prashna
                        </h5>
                        <p class="card-text crdp1 wow wow wow animate__animated animate__fadeInUp">Step into the realm
                            of philosophical inquiry with Yaksha Prashna, a series of profound questions posed by a
                            mystical being to Yudhishthira, the wise eldest Pandava brother from the Indian epic
                            Mahabharata. These enigmatic questions probe the depths of human understanding, morality,
                            and spirituality, challenging both the intellect and the soul.</p>
                        <!-- <a href="mcqcategory.html" class="btn btn-primary mx-auto crdb1 wow wow wow animate__animated animate__fadeInUp"
                  style="width: 30px; height: 30px; border-radius: 50%; padding: 0; display: grid; place-items: center;"><i
                    class="fa-solid fa-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div
                class="col-md-4 col-sm-6 text-center mb-3 mx-auto crd2 wow wow wow animate__animated animate__fadeInUp">
                <div class="card shadow p-3" style="width: 100% ;height: 100%; border: none">
                    <img src="/comingsoon/vikram-betal.jpg"
                        class="card-img-top mx-auto img2 wow wow animate__animated animate__fadeInUp" style="width: 88%"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title crdh2 wow wow animate__animated animate__fadeInUp">Vikram Betaal</h5>
                        <p class="card-text">Embark on an adventure with King Vikramaditya and the mischievous Betaal in
                            this classic collection of tales. As Vikramaditya endeavors to capture and bring back
                            Betaal, who resides on a tree in a cremation ground, each story unfolds a moral dilemma or
                            ethical conundrum, testing the king's wisdom and integrity.</p>
                        <!-- <a href="gamescategory.html" class="btn btn-primary mx-auto crdb2 wow wow animate__animated animate__fadeInUp"
                  style="width: 30px; height: 30px; border-radius: 50%; padding: 0; display: grid; place-items: center;"><i
                    class="fa-solid fa-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center mb-3 mx-auto crd3 wow wow animate__animated animate__fadeInUp">
                <div class="card shadow p-3" style="width: 100% ;height: 100%; border: none">
                    <img src="/comingsoon/Singhasan Battisi.jpg"
                        class="card-img-top mx-auto img2 wow wow animate__animated animate__fadeInUp"
                        style="width: 100%" alt="...">
                    <div class="card-body">
                        <h5 class="card-title crdh3 wow wow animate__animated animate__fadeInUp">Singhasan Battisi</h5>
                        <p class="card-text">Discover the legendary throne of King Vikramaditya, adorned with thirty-two
                            statues depicting tales of valor, wit, and wisdom. Each statue narrates a different story,
                            showcasing the virtues of bravery, justice, compassion, and more, as exemplified by the
                            mythical ruler and his illustrious courtiers.</p>
                        <!-- <a href="#" class="btn btn-primary mx-auto crdb3 wow wow animate__animated animate__fadeInUp"
                  style="width: 30px; height: 30px; border-radius: 50%; padding: 0; display: grid; place-items: center;"><i
                    class="fa-solid fa-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ----------------------------------------------------------------------- -->



    <hr class="hr" />
    <!-- ------------------------------------------------------------------------ -->
    <section class="container mt-2 ">
        <div class="row d-flex align-items-center flex-sm-row flex-column">
            <div class="col-sm-6 col-12 text-center text-sm-start left-text wow animate__animated animate__fadeInLeft ">

                <h3 class=" mb-3" style="color: #ea9247;font-size: medium;">New Games In MindPlay</h3>
                <h1 class=" ">"MindPlay"</h1>
                <!-- <p>Start your journey</p> -->
                <p class="para1 wow animate__animated animate__fadeInLeft">
                    <bold>Exercise your brain and have fun with our diverse collection of mind-bending games designed to
                        challenge and entertain you. Whether you're a puzzle enthusiast, a word wizard, or a strategy
                        master, there's something for everyone in this dynamic section of our website.
                </p>
                <!-- <button type="button" class="btn btn-primary btnstrt wow animate__animated animate__fadeInLeft">Start
              Learning</button> -->
            </div>
            <div class="col-sm-6 col-12 text-center right-image wow animate__animated animate__fadeInRight">
                <img src="/comingsoon/mindplaynew.png" width="85%" alt="">
            </div>
        </div>
    </section>
    <!-- ------------------------------------------------------------------------ -->
    <!--------------------------------------------------------category starts-->
    <section class="container mt-2">
        <h1 class="text-center my-5 cathead wow animate__animated animate__fadeInUp">Discover a Variety of Games:</h1>
        <div class="row">
            <div class="col-md-4 col-sm-6 text-center mb-3 mx-auto crd1 wow animate__animated animate__fadeInUp">
                <div class="card shadow p-3" style="width: 100%;height: 100%; border: none">
                    <img src="/comingsoon/emoji.png"
                        class="card-img-top mx-auto img1 wow wow wow wow animate__animated animate__fadeInUp"
                        style="width: 100%" alt="...">
                    <div class="card-body">
                        <h5 class="card-title crdh1 wow wow wow animate__animated animate__fadeInUp">Emoji Guess
                        </h5>
                        <p class="card-text crdp1 wow wow wow animate__animated animate__fadeInUp">Decode
                            the hidden meanings behind a series of emojis in this engaging guessing game. Can you
                            decipher the messages and guess the words or phrases they represent?</p>
                        <!-- <a href="mcqcategory.html" class="btn btn-primary mx-auto crdb1 wow wow wow animate__animated animate__fadeInUp"
                      style="width: 30px; height: 30px; border-radius: 50%; padding: 0; display: grid; place-items: center;"><i
                        class="fa-solid fa-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div
                class="col-md-4 col-sm-6 text-center mb-3 mx-auto crd2 wow wow wow animate__animated animate__fadeInUp">
                <div class="card shadow p-3" style="width: 100% ;height: 100%; border: none">
                    <img src="/comingsoon/crossword.png"
                        class="card-img-top mx-auto img2 wow wow animate__animated animate__fadeInUp" style="width: 59%"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title crdh2 wow wow animate__animated animate__fadeInUp">Crossword</h5>
                        <p class="card-text">Put your vocabulary and problem-solving skills to the test with
                            our classic crossword puzzles. Fill in the grid with words that fit the clues provided, and
                            unravel the mystery of each puzzle.</p>
                        <!-- <a href="gamescategory.html" class="btn btn-primary mx-auto crdb2 wow wow animate__animated animate__fadeInUp"
                      style="width: 30px; height: 30px; border-radius: 50%; padding: 0; display: grid; place-items: center;"><i
                        class="fa-solid fa-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center mb-3 mx-auto crd3 wow wow animate__animated animate__fadeInUp">
                <div class="card shadow p-3" style="width: 100% ;height: 100%; border: none">
                    <img src="/comingsoon/wordsearch.png"
                        class="card-img-top mx-auto img2 wow wow animate__animated animate__fadeInUp"
                        style="width: 55%" alt="...">
                    <div class="card-body">
                        <h5 class="card-title crdh3 wow wow animate__animated animate__fadeInUp">Word Search</h5>
                        <p class="card-text">Embark on a word-hunting adventure as you search for hidden
                            words within a grid of letters. Can you find all the words hidden horizontally, vertically,
                            diagonally, or even backwards?</p>
                        <!-- <a href="#" class="btn btn-primary mx-auto crdb3 wow wow animate__animated animate__fadeInUp"
                      style="width: 30px; height: 30px; border-radius: 50%; padding: 0; display: grid; place-items: center;"><i
                        class="fa-solid fa-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center mb-3 mx-auto crd3 wow wow animate__animated animate__fadeInUp">
                <div class="card shadow p-3" style="width: 100% ;height: 100%; border: none">
                    <img src="/comingsoon/4X4.png"
                        class="card-img-top mx-auto img2 wow wow animate__animated animate__fadeInUp"
                        style="width: 64%" alt="...">
                    <div class="card-body">
                        <h5 class="card-title crdh3 wow wow animate__animated animate__fadeInUp">Tic Tac Toe (4X4)</h5>
                        <p class="card-text">Put your strategic skills to the test in this twist on
                            the classic game of Tic Tac Toe. With a larger grid and more spaces to conquer, outwit your
                            opponent and claim victory.</p>
                        <!-- <a href="#" class="btn btn-primary mx-auto crdb3 wow wow animate__animated animate__fadeInUp"
                      style="width: 30px; height: 30px; border-radius: 50%; padding: 0; display: grid; place-items: center;"><i
                        class="fa-solid fa-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center mb-3 mx-auto crd3 wow wow animate__animated animate__fadeInUp">
                <div class="card shadow p-3" style="width: 100% ;height: 100%; border: none">
                    <img src="/comingsoon/Untitled (2).png"
                        class="card-img-top mx-auto img2 wow wow animate__animated animate__fadeInUp"
                        style="width: 100%" alt="...">
                    <div class="card-body">
                        <h5 class="card-title crdh3 wow wow animate__animated animate__fadeInUp">String Attention</h5>
                        <p class="card-text">Exercise your focus and attention to detail in this
                            challenging game of observation. Follow the twists and turns of the string as it moves
                            across the screen, and keep track of its path to earn points.</p>
                        <!-- <a href="#" class="btn btn-primary mx-auto crdb3 wow wow animate__animated animate__fadeInUp"
                      style="width: 30px; height: 30px; border-radius: 50%; padding: 0; display: grid; place-items: center;"><i
                        class="fa-solid fa-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center mb-3 mx-auto crd3 wow wow animate__animated animate__fadeInUp">
                <div class="card shadow p-3" style="width: 100% ;height: 100%; border: none">
                    <img src="/comingsoon/stress-01.png"
                        class="card-img-top mx-auto img2 wow wow animate__animated animate__fadeInUp"
                        style="width: 63%" alt="...">
                    <div class="card-body">
                        <h5 class="card-title crdh3 wow wow animate__animated animate__fadeInUp">Stress Ball</h5>
                        <p class="card-text">Need to unwind and relax? Release your tension with our
                            virtual stress ball game. Click, squeeze, and watch as the stress melts away with each
                            satisfying pop!</p>
                        <!-- <a href="#" class="btn btn-primary mx-auto crdb3 wow wow animate__animated animate__fadeInUp"
                      style="width: 30px; height: 30px; border-radius: 50%; padding: 0; display: grid; place-items: center;"><i
                        class="fa-solid fa-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer.ejs') %>

    <%- include('partials/scriptlinks.ejs') %>
</body>

</html>