<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Referrals</title>
    <link rel="icon" type="image/x-icon" href="/tsTitle.png">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
</head>
<body>
    <form action="/createref" method="post" class="container text-center pt-3">
        <input type="text" name="fullName" placeholder="enter name"> <br> <br>
        <input type="tel" name="phone" placeholder="phone"> <br> <br>
        <input type="text" name="ref" id="ref" placeholder="Referral"> <br> <br>
        <input type="submit" value="Create">
    </form>
</body>
</html>