<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/tsTitle.png">
    <title>Not Found</title>
</head>
<body>
    <div style="text-align: center; font-family: sans-serif; color: rgb(45, 45, 45); margin-top: 60px;">
        <h1>Look like you lost your way!</h1>
        <p>back to <a href="/">home</a></p>
    </div>
</body>
</html>