<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ | ThinkSharp</title>

    
    <%- include('partials/headlinks.ejs') %>

</head>
<body>


      <%- include('partials/navbar.ejs') %>

    
      <section class="container mb-5">
        <h1 class="text-center my-5 wow wow wow wow animate__animated animate__fadeInUp">FAQ's</h1>
        <div class="accordion mx-auto" style="max-width: 1250px;" id="accordionExample">
          <div class="accordion-item wow wow wow wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <strong class="wow wow wow wow animate__animated animate__fadeInLeft">What is ThinkSharp?</strong>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li class="wow wow wow wow animate__animated animate__fadeInLeft">ThinkSharp is a brain training app designed to improve cognitive abilities through a variety of engaging exercises and activities.</li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="wow accordion-item animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <strong>How does ThinkSharp work?</strong>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>ThinkSharp offers a collection of scientifically designed brain training exercises that target different cognitive skills such as memory, attention, problem-solving, and more. Users can engage in these exercises regularly to challenge their minds and enhance their cognitive abilities.
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item wow wow wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <strong>Who can benefit from using ThinkSharp?</strong>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>ThinkSharp is suitable for individuals of all ages who wish to enhance their cognitive abilities, improve memory, sharpen focus, and boost mental agility.</li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item wow wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <strong>Is ThinkSharp suitable for all age groups?</strong>
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>
                    Yes, ThinkSharp offers exercises and activities tailored to different age groups, ensuring that users of all ages can find suitable challenges to improve their cognitive skills.
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <strong>What types of brain training exercises are available on ThinkSharp?</strong>
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>ThinkSharp offers a wide range of exercises, including memory enhancement techniques, attention and focus tasks, cognitive puzzles, rapid mental calculations, emotional intelligence exercises, and more.

                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <strong>Can you customize the training sessions based on personal preferences?</strong>
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
    
                  <li>Yes, ThinkSharp allows users to customize their training sessions by selecting specific exercises, adjusting difficulty levels, and tracking progress over time.</li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                <strong>Are there different difficulty levels for the exercises?</strong>
              </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>Yes, ThinkSharp provides exercises with varying difficulty levels to cater to users of different skill levels, from beginners to advanced learners.</li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingEight">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                <strong>Do you provide progress tracking and performance analytics?</strong>
              </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>Yes, ThinkSharp offers progress tracking and performance analytics tools that allow users to monitor their improvement over time and identify areas for further development.</li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingNine">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                <strong>Is ThinkSharp available on multiple platforms (e.g., web, mobile)?</strong>
              </button>
            </h2>
            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>Yes, ThinkSharp is available on both web and mobile platforms, allowing users to access the app from their desktop computers, smartphones, or tablets.</li>
                  
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingTen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                <strong>  Which devices and operating systems support ThinkSharp?</strong>
              </button>
            </h2>
            <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>ThinkSharp is compatible with a wide range of devices and operating systems, including iOS, Android, and web browsers such as Chrome, Firefox, and Safari.</li>
                  
                </ul>
              </div>
            </div>
          </div>









          <div class="wow accordion-item animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingEleven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                <strong>Can I access my ThinkSharp account from different devices?</strong>
              </button>
            </h2>
            <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>Yes, users can access their ThinkSharp accounts from multiple devices by logging in with their credentials.
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item wow wow wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingTwelve">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                <strong>How do I sign up for ThinkSharp?</strong>
              </button>
            </h2>
            <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>You can sign up for ThinkSharp by accessing the app from the link "thinksharp.in" and later on App Store or Google Play Store and following the on-screen instructions to create an account.</li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item wow wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingThirteen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                <strong>What information do I need to provide during the signup process?</strong>
              </button>
            </h2>
            <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>
                    During the signup process, you will need to provide basic information such as your name, email address, and password to create your ThinkSharp account.
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingFourteen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                <strong>Can I use my social media accounts to log in?</strong>
              </button>
            </h2>
            <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>Yes, ThinkSharp offers the option to log in using your social media accounts such as Facebook or Google for added convenience.

                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingFifteen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                <strong>How do I reset my password if I forget it?</strong>
              </button>
            </h2>
            <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
    
                  <li>If you forget your password, you can reset it by selecting the "Forgot Password" option on the login screen and following the instructions provided.</li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingSixteen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                <strong>Is ThinkSharp a free app or are there subscription fees?</strong>
              </button>
            </h2>
            <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingSixteen"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>ThinkSharp offers a premium subscription option. While the premium subscriptions provide access to all features and content for an annual fee.</li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingSeventeen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                <strong>How much does a premium subscription to ThinkSharp cost?</strong>
              </button>
            </h2>
            <div id="collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="headingSeventeen"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>The cost of a premium subscription to ThinkSharp may vary depending on the subscription plan (annual) and any ongoing promotions or discounts. You can find the current pricing information on the app's subscription page.</li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingEighteen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                <strong>What payment methods are accepted for premium subscriptions?</strong>
              </button>
            </h2>
            <div id="collapseEighteen" class="accordion-collapse collapse" aria-labelledby="headingEighteen"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>ThinkSharp accepts various payment methods, including credit/debit cards, mobile payment services, and in some cases, digital wallets like RazorPay.</li>
                  
                </ul>
              </div>
            </div>
          </div>
          
          <div class="accordion-item wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingNineteen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                <strong>  Can I cancel my premium subscription at any time?</strong>
              </button>
            </h2>
            <div id="collapseNineteen" class="accordion-collapse collapse" aria-labelledby="headingNineteen"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>Yes, users can cancel their premium subscription to ThinkSharp at any time. However, please note that subscription fees are non-refundable, and access to premium features will continue until the end of the current billing period.</li>
                  
                </ul>
              </div>
            </div>
          </div>













          <div class="wow accordion-item animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingTwenty">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
                <strong>How does ThinkSharp handle user data and privacy?</strong>
              </button>
            </h2>
            <div id="collapseTwenty" class="accordion-collapse collapse" aria-labelledby="headingTwenty"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>ThinkSharp takes user privacy and data security seriously. We adhere to strict privacy policies and employ industry-standard security measures to protect user data from unauthorized access, disclosure, or misuse.
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item wow wow wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingTwentyOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwentyOne" aria-expanded="false" aria-controls="collapseTwentyOne">
                <strong>What personal information does ThinkSharp collect from users?</strong>
              </button>
            </h2>
            <div id="collapseTwentyOne" class="accordion-collapse collapse" aria-labelledby="headingTwentyOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>ThinkSharp collects only the necessary personal information required for account registration and subscription management, such as name, email address, and payment details. We do not share this information with third parties without user consent.</li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item wow wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingTwentyTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwentyTwo" aria-expanded="false" aria-controls="collapseTwentyTwo">
                <strong>Can I access and control my personal data on ThinkSharp?</strong>
              </button>
            </h2>
            <div id="collapseTwentyTwo" class="accordion-collapse collapse" aria-labelledby="headingTwentyTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>
                    Yes, users have the right to access, update, and delete their personal data on ThinkSharp. You can manage your account settings and data preferences through the app's settings menu.
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingTwentyThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwentyThree" aria-expanded="false" aria-controls="collapseTwentyThree">
                <strong>Is my data encrypted and securely stored on ThinkSharp servers?</strong>
              </button>
            </h2>
            <div id="collapseTwentyThree" class="accordion-collapse collapse" aria-labelledby="headingTwentyThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>Yes, ThinkSharp encrypts user data and stores it securely on protected servers to prevent unauthorized access or data breaches.

                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item wow animate__animated animate__fadeInLeft">
            <h2 class="accordion-header" id="headingTwentyFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <strong>Where can I find help or support if I encounter any issues with ThinkSharp?</strong>
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
    
                  <li>ThinkSharp offers comprehensive customer support to assist users with any questions, concerns, or technical issues they may encounter. You can reach out to our support team through the app's help centre or contact us via email.</li>
                  
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      </section>
    
    
      
      <%- include('partials/footer.ejs') %>
    
    
    <%- include('partials/scriptlinks.ejs') %>
    </body>
    
    </html>