<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <%- include('../partials/headlinks.ejs') %>

</head>

<body>
    <%- include('../partials/navbar.ejs') %>
    <!-- ----------------------------------------------------------------------------------category section---------------------------------------------------- -->

    <!-- Support - Bootstrap Brain Component -->
    <div class="container" style="text-align: justify; min-height: 100vh;">
        <h2 style="margin-top: 60px;">PRIVACY POLICY</h2>
        <p class="text-success">Last Updated: [26-Febuary-2024]</p>
        <h5>Welcome to ThinkSharp!</h5>
        <p class="text-justify">Welcome to ThinkSharp, your premier destination for cognitive wellness and mental
            agility training. ThinkSharp is owned and operated by ThinkSharp team. We value your privacy and are committed to protecting your personal data. This Privacy Policy
            explains how we collect, use, secure, and share your information when you use the ThinkSharp mobile
            application and related services ("Services").
        </p>
        <ul>
            <li>
                <h5>Personal Data Collection</h5>
            </li>
        </ul>
        <p class="text-justify">ThinkSharp collects the following personal data from users:

        </p>
        - Name<br>
        - Last name<br>
        - Date of Birth (DoB)<br>
        - Age (Calculated from DoB)<br>
        - Address<br>
        - Gender<br>
        - Phone/Mobile Number<br>
        - Email address<br>
        - Class of Study<br>
        - Educational institution or working organization (optional)<br>
        - Referral Code (optional)<br>


        </p>
        <ul>
            <li>
                <h5>Methods of Data Collection</h5>
            </li>
        </ul>
        <p class="text-justify">We collect personal data directly from users when they interact with the ThinkSharp app,
            such as during registration, completion of surveys, or use of certain features. We may also collect
            information about users' usage patterns and progress data within the app.

        </p>
        <ul>
            <li>
                <h5>Purpose of Data Use
                </h5>
            </li>
        </ul>
        <p class="text-justify">We use the collected personal data for the following purposes:<br>
            - To provide and improve our Services<br>
            - To personalize user experiences and tailor content<br>
            - To communicate with users, including sending notifications and updates<br>
            - To analyze usage patterns and track progress within the app<br>
            - To comply with legal obligations and enforce our terms of use<br>

        </p>
        <ul>
            <li>
                <h5>Data Security Measures
                </h5>
            </li>
        </ul>
        <p class="text-justify">ThinkSharp employs industry-standard security measures to safeguard users' personal data
            against unauthorized access, disclosure, or alteration. We use encryption, firewalls, and other security
            protocols to protect data integrity. We use One-Time Passwords (OTP) for users’ need for password change
            etc.

        </p>
        <ul>
            <li>
                <h5>Sharing of Information</h5>
            </li>
        </ul>
        <p class="text-justify">We may share users' personal data with third-party service providers for purposes such
            as data processing, analytics, and customer support. We do not sell users' personal data to third parties.
        </p>
        <ul>
            <li>
                <h5>User Rights and Choices</h5>
            </li>
        </ul>
        <p class="text-justify">Users have the right to access, update, and correct their personal data. They may also
            choose to opt out of certain communications or services. To exercise these rights or for inquiries regarding
            personal data, users can contact us at our <a href="/contact-us">Contact Us</a> page.
        </p>
        <ul>
            <li>
                <h5>Data Controller</h5>
            </li>
        </ul>
        <p class="text-justify">[Your Company Name] is the data controller responsible for the collection and processing
            of personal data within ThinkSharp.
        </p>
        <ul>
            <li>
                <h5>Policy Modifications</h5>
            </li>
        </ul>
        <p class="text-justify">This Privacy Policy may be updated or modified periodically. Users will be notified of
            such changes through the ThinkSharp app or other appropriate means.


        </p>
        <ul>
            <li>
                <h5>Compliance with Applicable Laws

                </h5>
            </li>
        </ul>
        <p class="text-justify">ThinkSharp complies with relevant privacy laws and regulations, including but not
            limited to [List Applicable Laws]. Users can contact us with privacy concerns or inquiries at our 
            <a href="/contact-us">Contact Us</a> page.
        </p>
        <ul>
            <li>
                <h5>Children's Privacy

                </h5>
            </li>
        </ul>
        <p class="text-justify">ThinkSharp is not intended for use by children under the age of 13. We do not knowingly
            collect personal data from children under 13 years old.
        </p>
        <ul>
            <li>
                <h5>Data Retention

                </h5>
            </li>
        </ul>
        <p class="text-justify">We retain users' personal data for as long as necessary to fulfil the purposes outlined
            in this Privacy Policy or as required by law. Progress data may be stored for analytical and improvement
            purposes.
        </p>
        <ul>
            <li>
                <h5>International Data Transfers

                </h5>
            </li>
        </ul>
        <p class="text-justify">If personal data is transferred internationally, appropriate safeguards will be
            implemented to ensure data protection during such transfers.
        </p>
        <ul>
            <li>
                <h5>Cookies and Tracking Technologies

                </h5>
            </li>
        </ul>
        <p class="text-justify">ThinkSharp may use cookies and similar tracking technologies to enhance user
            experiences. Users have the option to manage cookies through their device settings.
        </p>
        <ul>
            <li>
                <h5>Contact Information

                </h5>
            </li>
        </ul>
        <p class="text-justify">For inquiries or concerns regarding privacy practices, users can contact us at our 
            <a href="/contact-us">Contact Us</a> page.
        </p>
        <p class="text-success">Thank you for trusting ThinkSharp with your cognitive wellness journey. We are committed
            to maintaining the highest standards of privacy and data protection.
        </p>
    </div>


    <%- include('../partials/footer.ejs') %>

    <%- include('../partials/scriptlinks.ejs') %>
</body>

</html>