<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Science</title>

    <%- include('../partials/headlinks.ejs') %>

</head>

<body>
    <%- include('../partials/navbar.ejs') %>
    <!-- ----------------------------------------------------------------------------------category section---------------------------------------------------- -->


    <div class="container">
        <div class="row my-2 gap-2 justify-content-center">
            <div class="col-12 col-sm-12 border border-1" style="object-fit: contain;">
                <img src="/images/science1.jpg" alt="science 1" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-12 border border-1" style="object-fit: contain;">
                <img src="/images/science4.png" alt="science 1" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-12 border border-1" style="object-fit: contain;">
                <img src="/images/science2.png" alt="science 1" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-12 border border-1" style="object-fit: contain;">
                <img src="/images/science3.png" alt="science 1" style="width: 100%;">
            </div>
        </div>
    </div>

    <!-- Support - Bootstrap Brain Component -->
    <div class="container" style="text-align: justify; min-height: 100vh;">
        <h2 style="margin-block: 30px;">Effectiveness Analysis</h2>
        <p class="text-success">At ThinkSharp, we prioritize scientific inquiry to assess how our platform influences
            cognitive performance. Our dedicated team conducts thorough investigations to gauge the effectiveness of our
            educational tools and exercises.
        </p>

        <p class="text-justify">In a recent efficacy study, we embarked on a randomized trial involving a large cohort
            of participants to explore the impact of ThinkSharp on cognitive functions. This study encompassed 100
            individuals who were randomly assigned to either the ThinkSharp group or a control group.
        </p>

        <p class="text-justify">Individuals in the ThinkSharp group engaged in daily training sessions using our
            platform, while those in the control group employed conventional educational methods. Both groups devoted
            fifteen minutes a day, five days a week, for a duration of ten weeks to their respective training regimens.
        </p>

        <p class="text-justify">The findings of the study revealed noteworthy enhancements in cognitive performance
            among participants in the ThinkSharp group. Notably, they exhibited significant improvements in areas such
            as working memory, arithmetic reasoning, and processing speed compared to their counterparts in the control
            group.</p>

        <p class="text-justify">This study underscores the effectiveness of ThinkSharp in augmenting cognitive abilities
            and underscores our steadfast commitment to delivering innovative solutions for personalized learning and
            growth.</p>

        <h5>Resources Used for Inspiration</h5>

        <ul>
            <li>
                <h6>Role of prefrontal cortex during Sudoku task: fNIRS study</h6>
            </li>
        </ul>
        <p class="text-justify">Sudoku is a popular cognitively stimulating leisure-time activity. Many studies have
            been directed toward finding an algorithm to solve Sudoku, but the investigation of the neural substrates
            involved in Sudoku has been challenging.<br>
            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7718610/">Visit site to read the paper.</a>
        </p>

        <ul>
            <li>
                <h6>Brain training using cognitive apps can improve cognitive performance and processing speed in older
                    adults</h6>
            </li>
        </ul>
        <p class="text-justify">Managing age-related decreases in cognitive function is an important public health
            challenge, especially in the context of the global ageing of the population. Over the last years, several
            Cognitive Mobile Games (CMG) have been developed to train and challenge the brain. However, currently, the
            level of evidence supporting the benefits of using CMG in real-life use is limited in older adults,
            especially at a late age. In this study, we analyzed game scores and the processing speed obtained over the
            course of 100 sessions in 12,000 subjects aged 60 to over 80 years. Users who trained with the games
            improved regardless of age in terms of scores and processing speed throughout the 100 sessions, suggesting
            that old and very old adults can improve their cognitive performance using CMG in real-life use.<br>
            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8192763/">Visit site to read the paper.</a>
        </p>

        <ul>
            <li>
                <h6>A Large-Scale, Cross-Sectional Investigation Into the Efficacy of Brain Training
                </h6>
            </li>
        </ul>
        <p class="text-justify">Brain training, a prominent industry, has sparked ongoing debates regarding its
            scientific foundation and efficacy. Existing evidence often stems from limited-scale studies lacking clarity
            on training specifics, transfer effects, and duration. To address this, we analyzed data from two large
            Internet-cohort studies (N = 60,222), examining cognition across various brain training methods and
            timeframes (circa 2010–2013). Results showed no cognitive benefits for brain training compared to other
            cognitive activities like computer or board games. However, nuanced analysis revealed a complex
            relationship: beginners showed lower cognitive baseline, while longer-term training correlated with improved
            working memory and verbal scores. Yet, no such improvement was observed in reasoning or self-reported
            everyday function. While brain training may offer benefits akin to trained tasks, effective cognitive
            enhancement may require longer training durations than previously studied.
            <br>
            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6629869/">Visit site to read the paper.</a>
        </p>

        <ul>
            <li>
                <h6>Train Your Brain: 60 Days to a Better Brain</h6>
            </li>
        </ul>
        <p class="text-justify">Train Your Brain: 60 Days to a Better Brain is an English-language version of a Japanese
            book written by Ryuta Kawashima—the original book sold over a million copies in Japan.
            <br>
            <a href="https://en.wikipedia.org/wiki/Train_Your_Brain">Visit site to read the book.</a>
        </p>

        <ul>
            <li>
                <h6>The Complete Brain Exercise Book: Train Your Brain - Improve Memory, Language, Motor Skills and More</h6>
            </li>
        </ul>
        <p class="text-justify">While most brain exercise books are focused on preventing and treating memory loss due to ageing and disease, this book addresses the steps for increasing mental speed, visual acuity, language acquisition, sensory growth, and motor skills.
            The author deals with brain function recovery and a prevention program including neurological disease.
            
            <br>
            <a href="https://books.google.co.in/books/about/The_Complete_Brain_Exercise_Book.html?id=EZ5crgEACAAJ&source=kp_book_description&redir_esc=y">Visit site to read the book.</a>
        </p>

        <ul>
            <li>
                <h6>The Brain Fitness Book: Activities and Puzzles to Keep Your Mind Active and Healthy</h6>
            </li>
        </ul>
        <p class="text-justify">The Brain Fitness Book looks at the well-established science, and recent scientific revelations, and offers a well-balanced, clear, and colourful practical e-guide to keeping your brain fit.
            <br>
            <a href="https://books.google.co.in/books/about/The_Brain_Fitness_Book.html?id=LzkSEAAAQBAJ&source=kp_book_description&redir_esc=y">Visit site to read the book.</a>
        </p>

        <p class="text-success">These resources served as valuable sources of inspiration and informed the development of ThinkSharp, shaping our mission to empower learners through effective educational tools and strategies.
            <br></p>


    </div>


    <%- include('../partials/footer.ejs') %>

    <%- include('../partials/scriptlinks.ejs') %>
</body>

</html>