<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help & Support</title>
    <%- include('../partials/headlinks.ejs') %>

</head>

<body>
    <%- include('../partials/navbar.ejs') %>
        <!-- ----------------------------------------------------------------------------------category section---------------------------------------------------- -->

    <!-- Support - Bootstrap Brain Component -->
    <div class="container" style="text-align: justify; min-height: 100vh;">
        <h2 style="margin-top: 60px;">Help & Support</h2>
        <p class="text-success">At ThinkSharp, we are committed to providing exceptional customer experience and
            support. Whether you have questions about our training programs, need assistance with your account, or
            encounter technical difficulties, our dedicated Customer Experience team is here to help you every step of
            the way.</p>
        <h5>Contact Us:</h5>
        <p class="text-justify">If you require personalized assistance or have specific inquiries, please don't hesitate
            to reach out to our Customer Experience team. You can contact us via email at our <a href="/contact-us">Contact Us</a> page or by
            filling out the contact form on our website. We strive to respond to all inquiries promptly and ensure that
            your concerns are addressed effectively.
        </p>
        <h5>Frequently Asked Questions (FAQs):</h5>
        <p class="text-justify">For quick answers to common questions about our training programs, account management,
            or technical issues, we encourage you to visit our Frequently Asked Questions (FAQs) page. Here, you'll find
            comprehensive information that may resolve your queries without the need for further assistance.
        </p>
        <h5>Technical Support:</h5>
        <p class="text-justify">If you encounter any technical difficulties while using our app or website, please let
            us know. Our technical support team is dedicated to resolving any issues promptly to ensure a seamless
            experience for our users. You can reach out to our technical support team via email at our 
            <a href="/contact-us">Contact Us</a> page.</p>
        <h5>Feedback and Suggestions:</h5>
        <p class="text-justify">We value your feedback and suggestions as they help us improve our services and enhance
            your experience with ThinkSharp. Whether you have ideas for new features, suggestions for improvement, or
            general feedback, we'd love to hear from you. Please feel free to share your thoughts via email at our 
            <a href="/contact-us">Contact Us</a> page.</p>
        <h5>Stay Connected:</h5>
        <p class="text-justify">For updates, news, and tips on brain training, meditation, and cognitive wellness, be
            sure to follow us on social media. Connect with us on Facebook, Twitter, and Instagram to stay informed and
            engaged with the ThinkSharp community.</p>
        
        <p class="text-success" style="margin-bottom: 50px;">At ThinkSharp, your satisfaction and success are our top priorities. Thank you for choosing us as your partner in cognitive wellness and personal development. We look forward to serving you and helping you achieve your goals.</p>
        <!-- <p class="text-left">Text is aligned on Left side by using class "text-left"</p>
        <p class="text-center">Text is aligned at Center by using class "text-center"</p>
        <p class="text-right">Text is aligned on Right side by using class "text-right"</p> -->
    </div>


    <%- include('../partials/footer.ejs') %>

    <%- include('../partials/scriptlinks.ejs') %>
</body>

</html>