<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service</title>
    <%- include('../partials/headlinks.ejs') %>

</head>

<body>
    <%- include('../partials/navbar.ejs') %>
    <!-- ----------------------------------------------------------------------------------category section---------------------------------------------------- -->

    <!-- Support - Bootstrap Brain Component -->
    <div class="container" style="text-align: justify; min-height: 100vh;">
        <h2 style="margin-top: 60px;">TERMS OF SERVICE</h2>
        <p class="text-success">Last Updated: [26-Febuary-2024]</p>
        <h5>Welcome to ThinkSharp!</h5>
        <p class="text-justify">ThinkSharp, operated by the ThinkSharp team, provides its services to you through its
            mobile application, web application and related services (collectively, the "Service(s)"), subject to the
            following Terms of Service (as amended from time to time, the "Terms of Service"). By accessing or using the
            Service, you agree to be bound by these Terms of Service. Please read them carefully before using the
            Service.
        </p>
        <ul>
            <li>
                <h5>Acceptance of Terms</h5>
            </li>
        </ul>
        <p class="text-justify">By accessing or using the Service, you agree to abide by these Terms of Service and all
            applicable laws and regulations. If you do not agree to these Terms of Service, you may not access or use
            the Service.
        </p>
        <ul>
            <li>
                <h5>Modifications to Terms</h5>
            </li>
        </ul>
        <p class="text-justify">ThinkSharp reserves the right, at its sole discretion, to change or modify these Terms
            of Service at any time without prior notice. Any such changes will be effective immediately upon posting on
            the Service. Your continued use of the Service after the posting of the revised Terms of Service constitutes
            your acceptance of the changes
        </p>
        <ul>
            <li>
                <h5>Registration Obligations</h5>
            </li>
        </ul>
        <p class="text-justify">Certain features of the Service may require you to register and create an account. By
            registering for the Service, you agree to provide accurate, current, and complete information about yourself
            as prompted by the registration form. You are responsible for maintaining the confidentiality of your
            account and password and for restricting access to your account. You agree to accept responsibility for all
            activities that occur under your account.
        </p>
        <ul>
            <li>
                <h5>User Conduct</h5>
            </li>
        </ul>
        <p class="text-justify">You are solely responsible for all content you upload, post, publish, or display on or through the Service ("User Content"). You agree not to use the Service to upload, post, transmit, or otherwise distribute any User Content that is unlawful, harmful, threatening, abusive, harassing, defamatory, obscene, vulgar, or otherwise objectionable.
        </p>
        <ul>
            <li>
                <h5>Fees and Payment
                </h5>
            </li>
        </ul>
        <p class="text-justify">ThinkSharp offers certain premium features or subscriptions for a fee. By subscribing to these premium features or services, you agree to pay the applicable fees and charges. All fees are payable in advance and are non-refundable.

        </p>
        <ul>
            <li>
                <h5>Intellectual Property</h5>
            </li>
        </ul>
        <p class="text-justify">The Service and its original content, features, and functionality are owned by ThinkSharp and are protected by international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws.
        </p>
        <ul>
            <li>
                <h5>Limitation of Liability</h5>
            </li>
        </ul>
        <p class="text-justify">In no event shall ThinkSharp, its affiliates, or their respective directors, officers, employees, or agents be liable for any indirect, incidental, special, consequential, or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, arising out of or in connection with your use of the Service.
        </p>
        <ul>
            <li>
                <h5>Indemnification</h5>
            </li>
        </ul>
        <p class="text-justify">You agree to indemnify and hold ThinkSharp harmless from any claims, losses, damages, liabilities, and expenses (including attorneys' fees) arising out of or in connection with your use of the Service or any violation of these Terms of Service.
        </p>
        <ul>
            <li>
                <h5>Governing Law</h5>
            </li>
        </ul>
        <p class="text-justify">These Terms of Service shall be governed by and construed in accordance with the laws of the Republic of India, without regard to its conflict of law provisions.

        </p>
        <ul>
            <li>
                <h5>Contact Information
                </h5>
            </li>
        </ul>
        <p class="text-justify">If you have any questions about these Terms of Service, please contact us at our <a href="/contact-us">Contact Us</a> page.
        </p>
      </div>


      <%- include('../partials/footer.ejs') %>

      <%- include('../partials/scriptlinks.ejs') %>
</body>

</html>